trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureSubscription: 'SnapScale-Azure-Connection'
  appName: 'snayscale-api'
  workingDir: 'api'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '22.x'
  displayName: 'Use Node.js 22'

- script: |
    npm install
  workingDirectory: $(workingDir)
  displayName: 'Install dependencies (backend)'

- task: AzureWebApp@1
  inputs:
    azureSubscription: $(azureSubscription)
    appName: $(appName)
    package: $(workingDir)
  displayName: 'Deploy backend to Azure App Service'
