trigger:
  - main

pool:
  vmImage: "ubuntu-latest"

variables:
  NODE_VERSION: "20.x"
  API_DIR: "api"
  ZIP_NAME: "api.zip"

steps:
  - checkout: self
    clean: true

  - task: NodeTool@0
    inputs:
      versionSpec: "$(NODE_VERSION)"
    displayName: "Use Node $(NODE_VERSION)"

  - script: |
      cd $(API_DIR)
      npm ci
    displayName: "Install API dependencies (npm ci)"

  - task: ArchiveFiles@2
    displayName: "Zip API folder for deployment"
    inputs:
      rootFolderOrFile: "$(System.DefaultWorkingDirectory)/$(API_DIR)"
      includeRootFolder: false
      archiveType: "zip"
      archiveFile: "$(Build.ArtifactStagingDirectory)/$(ZIP_NAME)"
      replaceExistingArchive: true

  - task: AzureWebApp@1
    displayName: "Deploy API zip to Azure Web App"
    inputs:
      azureSubscription: "WILL_SET_LATER"
      appName: "snayscale-api"
      package: "$(Build.ArtifactStagingDirectory)/$(ZIP_NAME)"
